*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.orig
*.tss
*.ncrunchproject
*.ncrunchsolution
WebEssentials2015-Settings.json
.vs
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
source/common/hibernate.cfg.xml
source/application/PD.UserInterface.Pbj/[Aa]pp.config
source/application/PD.Workflow/Web.config
source/common/CommonAssemblyInfo.cs
local.properties.xml
build/*
UnitTestResults.txt
IntegrationTestResults.txt
Packages.dgml
source/application/PD.Services.WebApi/App_Data/XmlDocument.XML
sample/XamDataChartMVVMBinding/XamDataChartMVVMBinding.zip
libraries/nhibernateprofiler/log.txt
*.tmp

